<html lang='vi'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>F8-Education</title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                {{#each courses}}
                    <div class='col l-3 m-6 c-12'>
                        <div class='mt-4'>
                            <a href='/courses/{{this.slug}}' class='card-link'>
                                <div class='card' style='width: 18rem;'>
                                    <img src={{this.image}} class='card-img-top' alt={{this.name}}/>
                                    <div class='card-body'>
                                        <h5 class='card-title'>{{this.name}}</h5>
                                        <p class='card-text'>{{this.description}}</p>
                                        <p class='card-text'>{{this.cost}}đ</p>
                                        <p class='card-text'>Trình độ: {{this.level}}</p>
                                        <a href='/courses/{{this.slug}}' class='btn btn-primary mt-4'>Học ngay</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </body>

    <!-- jQuery cần được load đầu tiên -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Toastr cần jQuery nên đặt sau -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');

        if (message === 'create-success') {
            toastr.success('Thêm khóa học thành công!');
        }
    </script>
</html>