<div class='store-courses m-4'>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a href='/me/stored/courses' class='btn btn-primary'>Danh sách khóa học</a>
            <h2 class='title'>Khóa học đã xóa</h2>
        </div>

        <div class="sort">
            <div class="dropdown">
                <div style="margin-bottom: 20px;">
                    <label for="sortSelect"><strong>Sắp xếp theo:</strong></label>
                    <select id="sortSelect">
                        <option value="newest" {{#ifEquals query.sort "newest"}}selected{{/ifEquals}}>Thời gian: Mới nhất</option>
                        <option value="oldest" {{#ifEquals query.sort "oldest"}}selected{{/ifEquals}}>Thời gian: Cũ nhất</option>
                        <option value="price-asc" {{#ifEquals query.sort "price-asc"}}selected{{/ifEquals}}>Giá: Thấp → Cao</option>
                        <option value="price-desc" {{#ifEquals query.sort "price-desc"}}selected{{/ifEquals}}>Giá: Cao → Thấp</option>
                        <option value="name-asc" {{#ifEquals query.sort "name-asc"}}selected{{/ifEquals}}>Tên A → Z</option>
                        <option value="name-desc" {{#ifEquals query.sort "name-desc"}}selected{{/ifEquals}}>Tên Z → A</option>
                        <option value="level-asc" {{#ifEquals query.sort "level-asc"}}selected{{/ifEquals}}>Trình độ: Dễ - Pro</option>
                        <option value="level-desc" {{#ifEquals query.sort "level-desc"}}selected{{/ifEquals}}>Trình độ: Pro - Dễ</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>STT</th>
                <th scope='col'>Tên khóa học</th>
                <th scope='col'>Trình độ</th>
                <th scope='col'>Giá (đ)</th>
                <th scope='col'>Thời gian tạo</th>
                <th scope='col' colspan='3'></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{indexPagination @index ../currentPage ../limit}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.cost}}</td>
                    <td>{{formatDate this.createdAt}}</td>
                    <td>
                        <span
                            class='btn btn-primary btn-restore'
                            data-bs-id="{{this._id}}"
                        >
                            Khôi phục
                        </span>
                    </td>
                    <td>
                        <span
                            class='btn btn-danger'
                            data-bs-toggle='modal'
                            data-bs-target='#delete-course'
                            data-bs-id="{{this._id}}"
                        >
                            Xóa vĩnh viễn
                        </span>
                    </td>
                </tr>

                {{else}}
                <tr>
                    <td colspan='7' class='text-center'>
                        Thùng rác trống.
                        <a href="/me/stored/courses">Danh sách khóa học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Modal Confirm Ask User }}
<div
    class='modal fade'
    tabindex='-1'
    id='delete-course'
    aria-labelledby='delete-courseLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Cảnh báo</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-bs-dismiss='modal'
                >
                    Suy nghĩ lại
                </button>
                <button id="btn-delete-course" type='button' class='btn btn-danger'>Xoá vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

{{!-- Pagination --}}
<div class="pagination mt-5">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {{#unless (gt currentPage 1)}}disabled{{/unless}}">
                <a class="page-link" href="?page={{dec currentPage}}&sort={{query.sort}}">Previous</a>
            </li>

            {{#each (range 1 totalPages)}}
                <li class="page-item {{#ifEquals this ../currentPage}}active{{/ifEquals}}">
                    <a class="page-link" href="?page={{this}}&sort={{../query.sort}}">{{this}}</a>
                </li>
            {{/each}}

            <li class="page-item {{#unless (lt currentPage totalPages)}}disabled{{/unless}}">
                <a class="page-link" href="?page={{inc currentPage}}&sort={{query.sort}}">Next</a>
            </li>
        </ul>
    </nav>
</div>

{{!-- Tạo ra form trống để submit form --}}
<form method='POST' name="delete-course-form"></form>
<form method='POST' name="restore-course-form"></form>

<!-- jQuery cần được load đầu tiên -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Toastr cần jQuery nên đặt sau -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{{!-- Script --}}
<script>
    var courseId;
    var deleteCourse = document.getElementById('delete-course');
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var deleteBtn = document.getElementById('btn-delete-course');
    var btnRestore = $('.btn-restore');

    // When dialog confirm clicked
    if (deleteCourse) {
        deleteCourse.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-id attributes
            courseId = button.getAttribute('data-bs-id');
        });
    };

    // When delete course btn clicked
    deleteBtn.onclick = function () {
        // Set action for delete form
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        // Submit form
        deleteForm.submit();
    };

    // When restore course btn clicked
    btnRestore.click(function () {
        // Get courseId from data-bs-id attribute
        var courseId = $(this).data('bs-id');
        // Set action for restore form
        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
        // Submit form
        restoreForm.submit();
    });

    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');

    if (message === 'update-course-success') {
        toastr.success('Cập nhật khóa học thành công!');
    }

    if (message === 'restore-course-success') {
        toastr.success('Khôi phục khóa học thành công!');
    }

    if (message === 'delete-course-success') {
        toastr.success('Xóa khóa học thành công!');
    }

    document.getElementById('sortSelect').addEventListener('change', function () {
        const selectedSort = this.value;
        const urlParams = new URLSearchParams(window.location.search);

        // Cập nhật tham số sort
        urlParams.set('sort', selectedSort);

        // Reset về page 1 khi sắp xếp
        urlParams.set('page', 1);

        // Redirect đến trang đầu tiên với sort mới
        window.location.href = `?page=1&sort=${selectedSort}`;
    });
</script>